<div id="land">
  <div class="vcenter">
    <h1>Welcome to the machine</h1>
    <%= link_to "Blog", articles_path %>
    <%= link_to "Contact", contact_path %>
    <%= link_to "Contact", contact_path %>
  </div>
</div>
